.boxed-shadow {
	padding: 1em;
	margin-bottom: 1em;
	max-width: 85%;
	display: inline-block;
}

.cipher-result {
	border-radius: 3px;
	background: #00003b;
	color: #7d6c99;
	padding: 0.5em;
	margin-left: 1em;
	min-width: 10ch;
	min-height: 2em;
	max-width: 80%;
	overflow-x: scroll;
	line-height: 2em;
	display: flex;
	app-copy-text {
		margin-right: 1em;
	}
}

table {
	width: 100%;
	display: block;
}
.entropy {
	.limited-text {
		max-width: 50% !important;
		overflow-x: hidden;
		text-overflow: ellipsis;
		height: 4em;
		padding: 1em;
		display: block;
	}
}
