<div class="step-container" *ngIf="pollService._poll && pollService._poll.getValue()">
	<h2 class="title is-2">{{ pollService._poll.getValue().creatorPseudo }} vous invite à participer à son sondage</h2>
	<div>
		<div class="badge creator"></div>
		<h3 class="title is-3">
			{{ pollService._poll.getValue().title }}
		</h3>
		<p class="description">
			{{ pollService._poll.getValue().description }}
		</p>
		<p class="date-end-box">
			Fin du sondage le
			<strong class="date-end">
				{{ pollService._poll.getValue().expiracy_date | date }}
			</strong>
		</p>
		<button
			class="button is-primary"
			[routerLink]="['/poll/' + pollService._poll.getValue().custom_url + '/consultation/simple']"
		>
			Je donne mes disponibilités
		</button>
	</div>
</div>
