@import '../../../../styles/variables';

.main-footer {
	.app-title {
		min-height: 5rem;
		line-height: 5rem;
		font-weight: bold;
	}
	.logo-box {
		height: 5rem;
		border-bottom: 1px solid $white;
		margin-bottom: 1rem;
		width: 100%;
	}
	a {
		color: $white;
	}

	img {
		max-height: $header-nav-inner-height;
	}

	.border-bottom {
		border-bottom: solid 1px #ccc;
	}

	.pages-links {
		a {
			border-right: 1px solid $white;
			padding-left: 1rem;
			padding-right: 1rem;

			&:first-of-type {
				padding-left: 0;
				border-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
				border-right: 0;
			}
		}
	}
}
